<style>
@media only screen and (max-width: 1068px) {
	
.fix{width: 186px;
    height: 68px;
	font-size: 30px;
	}
	.fix2{
font-size: 30px;
}
}
</style>
<nav class='navbar is-fixed-top' role='navigation' aria-label='navigation'>
	<div class="navbar-brand">

		<a class="navbar-item" href="#">
			<img src="img/logo.png" width="28" height="44">
		</a>

		<a role="button" class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
		    <span aria-hidden="true"></span>
		    <span aria-hidden="true"></span>
		    <span aria-hidden="true"></span>
	    </a>

	</div>

	<div id='navbar' class='navbar-menu'>
		<div class='navbar-start fix2' >
			<a href='indexie.html' class="navbar-item">
		        Home
		    </a>

		    <a href='facilities.html' class="navbar-item">
		        Facilities
		    </a>

		    <a href='about.html' class="navbar-item">
		        About Us
		    </a>

		    <a href='timeline.html' class="navbar-item">
		        Timeline
		    </a>
		    
		</div>
		<div class='navbar-end'>
			<div class='navbar-item'>
				<a href="https://letseducatethem.charitycheckout.co.uk/donate#!/" class="button is-warning fix">
			        Donate
			    </a>
			</div>
		</div>
	</div>
</nav>